
		h1 {
			color: blue;
		}

		h1:hover {
			color: red;
		}

		img {
			width: 200px;
			border-radius: 10%;
			border: 10px solid hotpink;
		}

		img:hover {
			filter: sepia(50%);
		}

		body {
			font-family: cursive;
			padding: 20px;
			background-color: lightgray;
		}

		button {
			font-family: cursive;
			font-size: 20px;
		}

		input {
			padding: 10px;
			font-size: 20px;
			background-color: lightblue;
			color: green
		}

		#ttt_buttons button {
			width: 100px;
			height: 100px;
			margin: 10px;
			padding: 5px;
			border: 5px solid green;
			border-radius: 10px;
		}
